.mainstyle{
    width: 80%;
    height: 800px;
    margin: 20px auto;
}
.applyinfoshow{
    height: 380px;
    margin-top: 50px;
}
.applyinfoshow li{
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    list-style: none;
}
.page{
    margin-top: 0px;
}