/* 模态框样式区 */
.detailedinfo{
    width: 500px;
    border: 1px solid rgb(248, 246, 246);
    margin: 30px auto;
    text-align: left;
}
.title{
    margin-left: 5px;
    color: black;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
.hot{
    margin: 15px auto;
    /* padding-top: 20px; */
    width: 90%;
}
.recruitname{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 30px;
}
.recruitsalary{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin-bottom: 10px;
    line-height: 30px;
}
.clearfix{
    display: block;
}
.basicinfo{
    margin-left:5px;
    margin-bottom: 15px;
}
.basicinfo-txt{
    font-size: inherit;
    padding-right: 12px;
}
.contact{
    margin-left: 5px;
}
.contact-txt{
    padding-left: 2px;
    padding-right: 14px;
}
.maininfo{
    width: 500px;
    margin: 10px auto;
    text-align: left;
}
.buttonstyle{
    text-align: center;
}